<h3>Your answers for the riddles are  <%= @riddle1 %>, <%= @riddle2 %> , <%= @riddle3 %>, <%= @riddle4 %> .</h3>

<h3><%= @string_to_display1 %></h3>
<h3><%= @string_to_display2 %></h3>
<h3><%= @string_to_display3 %></h3>
<h3><%= @string_to_display4 %></h3>

<a href='/'>Try again?</a>
